advent-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
    background: var(--bg-primary);
    padding: 2rem;
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
}

advent-calendar-day {
    background: var(--bg-secondary);
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    gap: 1em;
    cursor: pointer;
    .advent-calendar-day-header {
        color: var(--text-accent);
        font-family: var(--font-family), cursive;
        font-size: 2rem;
    }

    & > .icon {
        width: 100%;
        height: 100%;
        text-align: center;
        svg {
            height: 100% !important;
            width: 100% !important;
        }
    }
}

advent-calendar-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.29);
    .advent-calendar-dialog {
        display: inline;
        top: 10vh;
        left: 10vw;
        position: fixed;
        width: 80vw;
        height: 80vh;
        background: var(--secondary);
        z-index: 1;
        outline-offset: 1px;
        box-sizing: border-box;
        padding: 2rem;
        background: var(--bg-secondary);
        box-shadow: -1px 7px 19px 4px rgba(0, 0, 0, 0.29);
        word-break: break-all;
        white-space: break;
        overflow-y: auto;
    }

    .advent-calendar-dialog-close {
        cursor: pointer;
        position: absolute;
        top: 1em;
        right: 1em;
    }

    .advent-calendar-dialog-header {
        color: var(--text-accent);
        font-size: 2rem;
        font-family: var(--font-family);
        margin: 0;
    }

    pre {
        word-break: break-word;
        white-space: break-spaces;
    }
}

/**
*   small screens
**/
@media only screen and (max-width: 768px) {
    :root {
        --font-size: 32px;
    }
    advent-calendar {
        grid-template-columns: repeat(1, 1fr);
    }
}
