@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap");
@import "./advent-calendar/advent-calendar.scss";

$text-primary: #000;
$text-accent: #cf432a;
$bg-primary: #226f61;
$bg-secondary: #ecdeb9;
$font-family: "Mountains of Christmas";
$font-size: 16px;

:root {
    --text-primary: #{$text-primary};
    --text-accent: #{$text-accent};
    --bg-primary: #{$bg-primary};
    --bg-secondary: #{$bg-secondary};
    --font-family: #{$font-family};
    --font-size: #{$font-size};
    font-size: var(--font-size);
}

// reset
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/**
*  Scrollbar
**/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.3);
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba($text-accent, 0.8);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba($text-accent, 0.4);
}

/**
* Icons coloring customization
**/

.fa-sleigh {
    color: #904900;
}
.fa-gifts {
    color: #c3099b;
}
.fa-gift {
    color: #ff253a;
}
.fa-holly-berry {
    color: #067979;
}
.fa-candy-cane {
    color: var(--text-accent);
}
.fa-tree {
    color: green;
}
.fa-snowman {
    color: white;
}
.fa-snowflake {
    color: #69a1bb;
}
.fa-lock {
    color: #ff9900;
}
